.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    background-color: var(--branco);
    width: 60vw;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo{
    color:var(--amarelo);
    font-weight: 700;
}

.lista-menu__link{
    color:var(--roxo);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}